{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class=" card shadow-lg" >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{picture.image.url}}" class="card-img" alt="image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">{{ picture.image_name }}</h2>
              <p class="card-text"><small class="text-muted">Last updated {{picture.last_modified}}</small></p>
              <p class="card-text">{{picture.image_description}}</p>
              <h5>Location: <span class="badge badge-secondary">{{picture.image_location}}</span></h5><!--{% url 'pictures_location' picture.image_location %}-->
              <h5>Category: 
                <span class="badge badge-secondary">
                  {% for category in picture.image_category.all %}
                  <a href="{% url 'pictures_category' category.category %}" class="text-light"><!---->
                        {{ category.category }}.  
                  </a>&nbsp;
                  {% endfor %}
                </span>
              </h5>
            </div>
          </div>
        </div>
      </div>

</div>

{% endblock %}